[submodule "resources/public/css/loaders"]
	path = resources/public/css/loaders
	url = https://github.com/ConnorAtherton/loaders.css.git
[submodule "resources/public/lib/jsfxr"]
	path = resources/public/lib/jsfxr
	url = https://github.com/chr15m/jsfxr.git
