@import url(http://fonts.googleapis.com/css?family=Dosis:400,700);
@import url(loaders/loaders.min.css);

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  background-color: #333;
  overflow: hidden;
}

.ball-scale > div {
  background-color: orange;
}

.loader-inner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; 
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #0ff;
  text-shadow: -1px 1px 10px rgba(0, 255, 255, 0.75), 1px -1px 10px rgba(0, 255, 255, 0.75);
}

a:hover {
  text-decoration: underline;
}

.sprite {
  position: absolute;
  font-size: 4em;
}

.c0 {
  color: #0f0;
  text-shadow: -1px 1px 10px rgba(0, 255, 0, 0.75), 1px -1px 10px rgba(0, 255, 0, 0.75);
}

.c1 {
  color: #0ff;
  text-shadow: -1px 1px 10px rgba(0, 255, 255, 0.75), 1px -1px 10px rgba(0, 255, 255, 0.75);
}

.c2 {
  color: #f0f;
  text-shadow: -1px 1px 10px rgba(255, 0, 255, 0.75), 1px -1px 10px rgba(255, 0, 255, 0.75);
}

.info {
  font-family: Dosis;
  font-size: 2em;
  padding: 1em;
  font-style: italic;
}

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 4px 4px;*/
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAACCAYAAABhYU3QAAAAEElEQVQImWNgYGAwJhITBwB32gH/LSZIiQAAAABJRU5ErkJggg==);
  background-repeat: repeat;
  background-size: 10px 4px;
  pointer-events: none;
}
